* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.list_container {
      max-width: 1100px;
      margin: 40 auto;
} 

.list_container h2 {
    color: #7f96ff;
    font-size: 30px;
} 